<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>People Directory</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h2 class="text-center">Update People</h2>
      <div class="card-body">
        <form th:action="@{/peoples/{id} (id=${people.id_people})}" th:object="${people}" method="POST">
          <div class="form-group">
            <label>People Name</label>
            <input type="text" name="name" th:field="*{name}" class="form-control" placeholder="Enter People Name"/>
          </div>

          <div class="form-group">
            <label>People Surname</label>
            <input type="text" name="surname" th:field="*{surname}" class="form-control" placeholder="Enter People Surname"/>
          </div>

          <div class="form-group">
            <label>People DateOfBirth</label>
            <input type="date" name="date_of_birth" th:field="*{date_of_birth}" class="form-control" placeholder="Enter People DateOfBirth"/>
          </div>

          <div class="form-group">
            <label>People Phone Number</label>
            <input type="text" name="number" th:field="*{number}" class="form-control" placeholder="Enter People Phone Number"/>
          </div>

          <div class="form-group">
            <label>People Email</label>
            <input type="text" name="email" th:field="*{email}" class="form-control" placeholder="Enter People Email"/>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary"> Submit </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>